<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
   <link rel="stylesheet" href="css/style.css">
<body>
    <header>
     <img src="img/Captura de tela 2025-06-11 145615.png" id="cabeçalho">
    </header>
    <section id = "section1de3">
     <a href="">
      <div class="imagem1de4">
       <figure >
        <img src="img/nikolas-jordy-haddad.webp">
        <figcaption>
          <p><h1>Haddad bate boca comNikolas e Jordy</h1></p>
        </figcaption>
      </figure>
     </div>
     <div class="imagem1de4">
      <figure >
        <img src="img/503948031-18291854356247442-3428765562986404845-n.avif">
        <figcaption>
         <p><h1>Nasa nega vinculo com  brasileira que diz ser astronauta</h1></p>
        </figcaption>
      </figure>
     </div>
     <div class="imagem1de4">
      <figure >
        <img src="img/54580827749-6a65beb64e-c.avif">
        <figcaption>
            <p><h1>alguma coisa acontecendo no senado</h1></p>
        </figcaption>
      </figure>
     </div> 
      <div class="imagem1de4">
        <figure >
          <img src="img/samantha-garrote-e-a-filha-coraline-em-tour-no-cemiterio-de-sp.avif">
          <figcaption>
            <p><h1>sexta feira 13:sp, santo alegre, e mais cidades tem turismo do terror </h1></p>
          </figcaption>
        </figure>
       </div>
     </a> 
    </section>
    <section id = "section2de3">
      <a href="">
      
       <div class="imagem1de3">
        <figure>
          <img src="img/site-template-grade-de-fotos-2024-12-05t194719.700.avif" class="imagem">
          <figcaption>
            <p><h1>fora EUA, Brasil é o país com mais ingressos para a copa do mundo</h1></p>
          </figcaption>
        </figure>
       </div>
       <div class="imagem1de3">
        <figure>
          <img src="img/vista-lateral-mulher-bdsm-estetica-1-.avif" class="imagem">
          <figcaption>
            <p><h1>'censo dos fetiches' lista os mais buscados pelos brasileiros</h1></p>
          </figcaption>
        </figure>
       </div>
       <div class="imagem1de3">
        <figure >
          <img src="img/mulher-elegante-passear-com-o-cao-1-.avif" class="imagem">
          <figcaption>
            <p><h1>Pets também precisam de proteção no frio</h1></p>
          </figcaption>
        </figure >
       </div>
       </a>
    </section>
    <section id = "section3de3">
      
        <a href="">
          <div class="imagem1de2">
            <figure >
              <img src="img/judo.avif">
              <figcaption>
               <p><h1>em final contra vice <br/>olimpico,Cargnin leva <br/>prata no mundial de judo</h1></p>
              </figcaption>
            </figure>
          </div>
          <div class="imagem1de2">
            <figure >
              <img src="img/beijos-forro-queima-de-fogos-veja-o-que-rolou-no-sao-juao-de-juliette.avif">
              <figcaption>
               <p><h1>beijos, forró, queima de fogos, <br/> veja o que <br>rolou no sao joão <br/> de juliette</h1></p>
              </figcaption>
            </figure>
          </div>
        </a>
    </section>
    <footer>
    <!--referencia: globo.com -->
    </footer>
</body>
</html>